<h1>Hi, Dear User</h1>
<div>

<p>
Informed to Dear User you are succfully sign in .
click to this link
<h3><%= link_to "reset your password and logedin", edit_user_password_url(reset_password_token: @token) %></h3>and put your password and enjoy!.
<br>
Thanks.

</div>
