<footer class="footer mt-auto">
    <div class="copyright bg-white">
        <p>
            &copy; <span id="copy-year">2022</span> Copyright Sleek Dashboard Bootstrap Template by
            <a
                target="_blank"
                >Hafiz Anas
            </a>.
        </p>
    </div>
    <script>
            var d = new Date();
            var year = d.getFullYear();
            document.getElementById("copy-year").innerHTML = year;
    </script>
</footer>
